@import '_default.scss';
@import '_variables.scss';

body {
	font-family: var(--font-family);
	font-size: clamp(1em, 2vw, 2.5em);

	.header {
		width: 100%;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #677efa;
	}
}
